{% extends 'layout.html' %}

{% block title%}
<title>Catalog Home Page - Anything U Want.</title>
{% endblock %}

{% block styles %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/edit.css') }}">
{% endblock %}

{% block content %}
<main role="main" id="side-cotent">
	<div class="container">
		<div class="edit-container">
			<div class="error-area">
			</div>
			<form class="update-form" id="upgrade-form" method="POST">
				<div>
					<label for="name">Item Name:</label>
					<input required type ="text" maxlength="100" value="{{ item.name }}" name="name" class="form-control" id="item-name" />
				</div>
				<div>
					<label for="catalog">Catalog Name:</label>
					<!-- <input type ="text" value="{{ item.catalog.name }}" name="catalog" class="form-control" id="catalog-name" /> -->
					<select id="catalog-name" name="catalog" class="dropdown" form="upgrade-form">
						{% for catalog in all_catalogs %}
							{% if item.catalog.name == catalog.name %}
							<option selected="selected" value="{{ catalog.name }}">{{ catalog.name|capitalize }}</option>
							{% else %}
							<option value="{{ catalog.name }}">{{ catalog.name|capitalize }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div>
					<label for="description">Catalog Description:</label>
					<textarea  style="resize:none" maxlength="250" rows="3" name="description" class="form-control" id="catalog-desc"/>{{item.description}}</textarea>
				</div>
				<div>
					<button type="submit" class="btn btn-default" id="submit">Update</button>
				</div>
			</form>
		</div>
	</div>
</main>

<script src="{{url_for('static', filename='scripts/edit.js')}}"></script>
{% endblock %}
