@charset "utf-8";

@import url(common.css);
@import url(header.css);
@import url(modal.css);

.detail-itemt__operatin {
	margin-top: 20px;
}
.detail-itemt__operatin ul {
	margin: 0;
	padding: 0;
}

.detail-itemt__operatin ul li {
	display: inline-block;
}

.detail-itemt__operatin ul li a {
	padding: 4px 12px;
	cursor: pointer;
}
