@charset "utf-8";

@import url(common.css);
@import url(header.css);

/* Index Page Style */
.user-nav__list .user-area .user-btn:hover {
	padding-bottom: 8px;
	border-bottom: 2px solid #767676;
}

.tab {
	width: 620px;
	/*margin: 0 auto;*/
}

.tab-header {
	margin: 30px 0;
}

.tab-header .tab-header__list {
	display: inline-flex;
	flex-wrap: nowrap;
	align-content: center;
	height: 100%;
	padding: 0;
}

.tab-header .tab-header__list .tab-header__list-item {
	height: 100%;
	margin-right: 24px;
	padding-top: 14px;
	padding-bottom: 18px;
	font-size: 16px;
	cursor: pointer;
}

.tab-header .tab-header__list .active  {
	border-bottom: 2px solid #38a757;
	color: #38a757;
}

.tab-content .tab-content__item {
	display: none;
}

.tab-content .active {
	display: flex;
	flex-wrap: wrap;
}

.tab-content__item div {
	width: 100%;
}

.tab-content__item a {
	display: inline-block;
	height: 40px;
	margin: 0 6px;
}

.tab-content__item a img {
	display: block;
	width: 120px;
	height: 125px;
	margin: 0 auto;
}

.tab-content__item a span {
	display: block;
	margin-top: 10px;
	text-align: center;
	font-size: 16px;
}

.add {
	margin-top: 30px;
	border-bottom: 1px solid #efefef;
	font-size: 18px;
}

.add a {
	font-weight: 500;
}

